/*
 *= require_self
 *= require_tree
 */

@import "bootstrap";
@import 'material';
@import "font-awesome";
@import "./global.scss";

body {
  font-family: "Montserrat", sans-serif;
}
.nav-bg {
  background-color: white;
}
.material-icons {
  color: $mainColor;
}

.container-fluid {
  width: 95%;
} 
nav {
  text-transform: uppercase;
}