@import "./global.scss";

.item-container {
  background-color: $thirdColor;
  border-radius: 0.5em;
  .item {
    background-color: white;
    border-bottom: 1px solid #dee2e6;
    &:last-child {
      border-bottom: none;
    }
  }
}
.total {
  border-radius: 0.5em;
}
.stripe-button-el {
  width: 120px;
  border-radius: 0.2em !important;
  border: 0 !important;
  background-image: none !important;
  background-color: #0000ff !important;
  font-weight: normal !important;
}