@import "./global.scss";

.card {
  border: none;
  
  .product {
    text-decoration: none;
    color: $sixthColor;
    
    img {
      border-radius: 0.5em;
    }

    h5 {
      margin: 0;
      font-weight: 500;
    }
    p {
      font-weight: 300;
    }
  }
}