@import "./global.scss";

.login-form {
  color: $sixthColor;

  .login-btn {
    background-color: $mainColor;
    color: white;

    &:hover {
      background-color: $secondColor;
      transition: all 0.5s ease;
    }
  }
}

.signup-link {
  text-decoration: none;
  color: $mainColor;

  &:hover {
    color: $secondColor;
    transition: all 0.5s ease;
  }
}
