<section class="categories-index mt-4">
  <div class="container">
    <div class="row">
      <div class="col"></div>
      <%= render @categories %>
      <div class="col"></div>
    </div>
  </div>
</section>