<section class="container">

  <header>
    <h1 class="display-4">
      <%= @category.name %>
      <small>(<%= pluralize @products.size, 'product' %>)</small>
    </h1>
  </header>

  <div class=" products container">
    <div class="row">
      <%= render @products %>
    </div>
  </div>

</section>