<div class="col-3 card p-3">
  <%= link_to product_path(product), class: "product" do %>
    <%= image_tag product.image.thumb.url , alt: product.name, class: 'card-img-top w-100' %>
    <div class="card-body">
      <h5 class="card-title"><%= product.name %></h5>
      <p class="card-text">$<%= product.price_cents %></p>
    </div>
 
  <% end%>
  
</div>
