<nav class="navbar navbar-expand-lg navbar-light border-bottom">
  <div class="container-fluid">
  <a class="navbar-brand" href="/">
    <img src="/gloriasplantsandpots.png" alt="logo" width="150" className="d-inline-block align-top" />
  </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="d-flex justify-content-between w-100">
        <div class="navbar-nav">
          <a class="nav-link p-4" href="/categories">shop</a>
          <a class="nav-link p-4" href="/about">about</a>
          <a class="nav-link p-4" href="/contacts/new">contact us</a>
        </div>
        <div class="navbar-nav">
          <% if current_user %>
            <a class="nav-link p-4 d-flex align-items-center justify-content-center" href="/logout">logout</a>
            <a class="nav-link p-4 disabled d-flex align-items-center justify-content-center" href="/logout"> <i class="material-icons">person</i> (<%= current_user.name %>)</a>
          <% else %>
            <a class="nav-link p-4 d-flex" href="/sessions/new"> <i class="material-icons">person</i></a>
          <% end %>
          <a class="nav-link p-4 d-flex" href="/cart"> <i class="material-icons">shopping_cart</i></a>
        </div>
      </div>
    </div>
  </div>
</nav>