<nav class="navbar navbar-expand-lg navbar-light border-bottom">
  <div class="container-fluid">
  <a class="navbar-brand" href="/">
    <img src="/gloriasplantsandpots.png" alt="logo" width="150" className="d-inline-block align-top" />
  </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="d-flex justify-content-between w-100">
        <div class="navbar-nav">
          <a class="nav-link p-4" href="/categories">SHOP</a>
          <a class="nav-link p-4" href="#">ABOUT</a>
          <a class="nav-link p-4" href="#">CONTACT US</a>
        </div>
        <div class="navbar-nav">
          <a class="nav-link p-4" href="#"> <i class="material-icons">person</i></a>
          <a class="nav-link p-4" href="/cart"> <i class="material-icons">shopping_cart</i></a>
        </div>
      </div>
    </div>
  </div>
</nav>